*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.dark_themc{
  background-color: black;
}
.dark_themb{
  background-color: white;
  color:black;
  box-shadow: 2px 5px 10px black;
}
.center{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark_themb,
.bcolor{
  padding:1rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.bcolor{
  background-color: black;
  color:white;
  box-shadow: 2px 5px 10px gray;
}
